.checkbox_wrapper {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 4vh;
}

.checkbox_text {
  display: flex;
  align-items: center;
  font-size: clamp(0.7rem, 1.5vw, 1.6rem); ;
  color: #000000;
  border: #000000 1px solid;
  border-radius: 5px;
  margin: 0.5vh 0.5vw;
  padding: 0.3rem;
  opacity: 1;
  transition: all 0.3s;
}

.checkbox_text:hover {
  opacity: 0.5;
  transition: all 0.3s;
}

.checkbox_input {
  cursor: pointer;
  margin: 0.3rem;
}